/* Style for the jumbotron */
.jumbotron {
  background-color: #343a40; /* Dark gray background */
  color: #fff; /* White text */
  padding: 60px; /* Add some padding */
}

/* Style for the navbar */
.navbar {
  background-color: #343a40; /* Dark gray background */
}

.navbar-brand {
  color: #fff !important; /* White text */
}

/* Style for the container */
.container {
  margin-top: 30px; /* Add margin to the top */
}

/* Style for the about me section */
.col-sm-4 {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px; /* Add some padding */
}

/* Style for the Tic-Tac-Toe section */
.col-sm-8 {
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px; /* Add some padding */
}

/* Add some padding and margin to the navbar items */
.navbar-nav .nav-item {
  margin: 0 10px;
}

/* Change color of navbar items */
.navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

/* Add mouse hover effect */
.navbar-nav .nav-link:hover {
  color: #17a2b8;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}
